__pycash__/
doxygen_output/
.sconf_temp/
.vs/
build/
dist/
lib/

.DS_Store
.sconsign.dblite

*.obj
*.o
*.so
*.exe
*.pyd
*.pyc
*.pyo
*.log
*.cash
*.swp

# VideoEditor .NET build artifacts
VideoEditor/bin/
VideoEditor/obj/
VideoEditor/*.log